<img src="./banner.png" />
<p><h1>Hi, I'm {{name}}</h1></p>
<p>I am a full-stack engineer, app developer, and blogger.</p><br/>

<div style="display:flex;justify-content:center">
  <a href="https://buymeacoff.ee/cavender">
    <img
      alt="Buy me a beer"
      src="https://img.shields.io/badge/buy_me_a_beer-333?logo=buymeacoffee"/>
  </a>
</div>
<div style="display:flex;justify-content:center">
  <a href="https://dev.cavender.io/">Blog</a>&nbsp;|&nbsp;
  <a href="https://dev.cavender.io/portfolio">Portfolio</a>
</div>

<p><h3>My Apps:</h3></p>
<ul>
  <li><a href="https://dev.cavender.io/portfolio/simpledex/">SimpleDex</a></li>
  <li>GymButler (coming soon)</li>
</ul>

<p><h3>Tech I work with:</h3></p>
<p>
  <img
    alt="react"
    src="https://img.shields.io/badge/react-20232a?logo=react"/>
  <img
    alt="react native"
    src="https://img.shields.io/badge/react_native-20232a?logo=react"/>
  <img
    alt="angular"
    src="https://img.shields.io/badge/angular-dc0030?logo=angular"/>
  <img
    alt="webpack"
    src="https://img.shields.io/badge/webpack-2b3a42?logo=webpack"/>
  <img
    alt="aws"
    src="https://img.shields.io/badge/aws-232f3d?logo=amazonaws"/>
  <img
    alt="typescript"
    src="https://img.shields.io/badge/typescript-3278c3?logo=typescript&logoColor=fff"/>
  <img
    alt="git"
    src="https://img.shields.io/badge/git-fff?logo=git"/>
  <img
    alt="nodejs"
    src="https://img.shields.io/badge/nodejs-233055?logo=nodedotjs"/>
  <img
    alt="firebase"
    src="https://img.shields.io/badge/firebase-fff?logo=firebase"/>
  <img
    alt="express"
    src="https://img.shields.io/badge/express-333?logo=express"/>
  <img
    alt="mobx-state-tree"
    src="https://img.shields.io/badge/mobx_state_tree-333?logo=mobxstatetree"/>
  <img
    alt="mobx-state-tree"
    src="https://img.shields.io/badge/postgres-fff?logo=postgresql"/>
  <img
    alt="a11y"
    src="https://img.shields.io/badge/a11y-333"/>
  <img
    alt="i18n"
    src="https://img.shields.io/badge/i18n-333"/>
</p>

<p><h3>Tools I use:</h3></p>
<p>
  <img
    alt="visual studio code"
    src="https://img.shields.io/badge/vscode-2c2c32?logo=visualstudiocode"/>
  <img
    alt="reactotron"
    src="https://img.shields.io/badge/reactotron-333?logo=reactotron"/>
  <img
    alt="hyper"
    src="https://img.shields.io/badge/hyper-333?logo=hyper"/>
  <img
    alt="firefox"
    src="https://img.shields.io/badge/firefox-333?logo=firefox"/>
  <img
    alt="chrome"
    src="https://img.shields.io/badge/chrome-333?logo=googlechrome"/>
  <img
    alt="xcode"
    src="https://img.shields.io/badge/xcode-333?logo=xcode"/>
  <img
    alt="android studio"
    src="https://img.shields.io/badge/androidstudio-333?logo=androidstudio"/>
  <img
    alt="licecap"
    src="https://img.shields.io/badge/licecap-333?logo=licecap"/>
  <img
    alt="obsstudio"
    src="https://img.shields.io/badge/obsstudio-333?logo=obsstudio"/>
  <img
    alt="homebrew"
    src="https://img.shields.io/badge/homebrew-333?logo=homebrew"/>
  <img
    alt="dbeaver"
    src="https://img.shields.io/badge/dbeaver-333?logo=dbeaver"/>
  <img
    alt="insomnia"
    src="https://img.shields.io/badge/insomnia-333?logo=insomnia"/>
</p>

<p><h3>How I Stay Up To Date:</h3></p>
<p>
  <a href="https://dev.to/"><img
    alt="dev.to"
    src="https://img.shields.io/badge/dev.to-111?logo=devdotto"/></a>
  <a href="https://javascriptweekly.com/"><img
    alt="javascript weekly"
    src="https://img.shields.io/badge/javascript_weekly-777?logo=javascript"/></a>
  <a href="https://nodeweekly.com/"><img
    alt="node weekly"
    src="https://img.shields.io/badge/node_weekly-488548?logo=nodedotjs"/></a>
  <a href="https://frontendfoc.us/"><img
    alt="frontend focus"
    src="https://img.shields.io/badge/frontend_focus-ef652d"/></a>
  <a href="https://bigmachine.io/"><img
    alt="bigmachine"
    src="https://img.shields.io/badge/bigmachine-E8188F"/></a>
</p>

<p><h3>How I Skill:</h3></p>
<p>
  <a href="https://www.udemy.com/"><img
    alt="udemy"
    src="https://img.shields.io/badge/udemy-333?logo=udemy"/></a>
  <a href="https://www.hackerrank.com/"><img
    alt="hackerrank"
    src="https://img.shields.io/badge/hackerrank-333?logo=hackerrank"/></a>
</p>

<p><h3>My Latest Posts</h3></p>
<ul>
  {{#posts}}
    <li><a href="{{{link}}}"><strong>{{{title}}}</strong></a></li>
  {{/posts}}
</ul><br/>

<p>This README inspired by <a href="https://github.com/thmsgbrt">thmsgbrt</a> and <a href="https://github.com/sw-yx">swyx</a>