# Hey, I'm {{name}}

Staff Software Engineer I at [Otto](https://otto.vet), building web and mobile apps that serve thousands of veterinary practices across North America.

### What I Work With
React Native | Typescript | Expo | Node.js | PostgreSQL | Next.js

### Projects
* [SimpleDex](https://marketing.simpledex.cavender.dev) - a Pokedéx app to find eveoolution info fast. Turborepo + Tanstack Router + Convex
* [cavender.foo](https://cavender.foo) - My Digital Garden, built with Astro
* [GymButler](https://gymbutler.cavender.io) - Gym workout tracker (inactive). React Native + Expo

### Writing
{{#articles}}
* [{{{title}}}]({{{link}}})
{{/articles}}

### Work at Otto
* [Flow](https://otto.vet/otto-flow) - Veterinary practice workflow platform. React + full-stack.
* Pet Parent App - [iOS](https://apps.apple.com/us/app/televet-care/id1622613509) | [android](https://play.google.com/store/apps/details?id=com.televet.care&hl=en_US&gl=US). React Native + full-stack.
<br />
<br />
---

[LinkedIn](https://linkedin.com/in/scavender) | [Website](https://cavender.foo)
