# Hey, I'm {{name}}

I'm a Christ follower, husband, father, and software engineer. Learn more about me [here](https://cavender.foo).

## Recent Articles
{{#articles}}
* [{{{title}}}]({{{link}}})
{{/articles}}

This README inspired by [thmsgbrt](https://github.com/thmsgbrt) and [swyx](https://github.com/sw-yx).
